root = true

[*.{js,jsx,ts,tsx}]
charset = utf-8
indent_style = space
indent_size = 4
continuation_indent_size = 8
trim_trailing_whitespace = true
insert_final_newline = true

[*.json]
charset = utf-8
indent_style = space
indent_size = 4

[*.{yml,yaml}]
charset = utf-8
indent_style = space
indent_size = 2

[*.{md,txt}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
